/* Reset and base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: url('service_background.webp') center center/cover no-repeat fixed;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 1em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    background-color: #3498db; /* Choose a background color */
    color: #fff; /* Text color */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Navigation styles */
nav {
    background-color: #333;
    padding: 0.2em;
    text-align: center;
    border-radius: 2.5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #555;
}

nav ul li {
    margin: 0;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

nav ul li a span {
    margin-right: 0.2rem;
}

nav ul li a:hover {
    background-color: #777;
}

/* Link styles */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

a:hover {
    color: #777;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap; /* Change to wrap to ensure the elements wrap to the next line */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    margin-right: 50px;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 2.5px;
    display: block;
}

select,
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.button-row {
    display: flex;
    justify-content: center; /* Change to center to align the buttons in the center */
    margin-top: 0.5px;
}


button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px; /* Increased margin between the buttons */
    z-index: 3;
    position: relative;
}

button:hover {
    background-color: #555;
}


/* services card styles */
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 20px;
    background-color: #ecf0f1; /* Background color for the form container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-card {
    width: 300px;
    margin: 20px 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #7c7a7a;
    text-decoration-color: #ccc;
    transition: transform 0.3s ease-in-out;
    overflow: hidden; /* Ensure content doesn't overflow */
    position: relative; /* Set position to relative for absolute positioning */
}

.services-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Place the overlay above the content */
}

.services-card:hover {
    transform: scale(1.05);
}

.services-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    z-index: 0; /* Ensure the image is behind the overlay */
}

.services-details {
    margin-top: 15px;
    text-align: center;
    position: relative;
    z-index: 2; /* Ensure services details are above the overlay */
    color: #141414; /* Adjust text color */
    justify-content: center; /* Vertically center the content */

}
/* Center and style the button */
.services-card button {
    display: block;
    margin: auto;
    background-color: #3498db; /* Blue color */
    color: #201d1d; /* White text color */
    padding: 10px 20px; /* Adjust padding for better appearance */
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    cursor: pointer;
}

/* Hover effect */
.services-card button:hover {
    background-color: #2980b9; /* Darker blue color on hover */
    color: #fff;
}

.services-details p {
    margin: 0;
}

.services-details p:first-child {
    font-weight: bold; /* Make the first paragraph bold */
}

.services-card:before,
.services-details {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Add transition effect */
}

.services-card:hover .services-card:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.9)); /* Darken the overlay on hover */
}

.services-card:hover .services-details {
    color: #fff; /* Change text color on hover */
}


/* Modal styles */
.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Adjust the width as needed */
    max-width: 600px; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal appears above other elements */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    z-index: 1001; /* Ensure the content appears above the overlay */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333; /* Set the close button color */
}

/* Adjust styles for modal content */
.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.modal-form-field {
    margin-bottom: 20px;
}

.modal-form-field label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.modal-form-field input,
.modal-form-field textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Add more styles based on your specific modal content */

